@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');


html {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

body {
  width: 100vw;
  height: 100vh;
}

.one {
  border: 1px solid gray;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.two {
  border: 1px solid gray;
  height: 100%;
  width: 75%;
}

.three {
  margin-top: 30px;
  margin-bottom: 30px;
}
.four {
  width: 100%;
  height: 80%;
  border: 1px solid red;
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
}
.card {
  width: 200px;
  height: 200px;
  background: black;
  margin: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

.card-header {
  background: pink;
  color: white;

}