body #map {
    position: fixed;
    width:70%;
}

body #features {
    width: 30%;
    margin-left: 70%;
    font-family: sans-serif;
    overflow-y: scroll;
    background-color: #f4ecf4;
    font-family: 'La Belle Aurore'; 
    font-size: 24px;
}

/*body div.title {
    position: fixed;
    top: 0;
    left: 0;
}*/

body section {
    padding:  10% 10%;
    line-height: 25px;
    border-bottom: 5px solid #FFFFFF;
    opacity: 0.25;
    font-size: 75%;
}

body section.active {
    opacity: 1;
}

body section:last-child {
    border-bottom: none;
    margin-bottom: 200px;
}

/* heart marker icon */
.marker {
    background-image: url('./icons/heart.svg');
    background-size: cover;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: url('./icons/sparklyHeart.cur'), auto;
}

/* pop-ups when interacting with heart marker icon */
.mapboxgl-popup {
    max-width: 200px;
}

.mapboxgl-popup-content {
    text-align: center;
    font-family: 'La Belle Aurore'; 
    font-size: 20px;
}

/* button */
#homebutton, #schoolbutton, #coronaparkbutton, #fhhsbutton, #qcbutton, #meadowlakebutton, #fhbutton, #presentbutton {
    background-color: #e3f0f2;
    border: 5px solid #d2e2d0;
    border-radius: 50%;
    color: #77027e;
    padding: 5px 5px;
    text-decoration: none;
    font-family: 'La Belle Aurore'; 
    font-size: 16px;
    cursor: url('./icons/sparklyHeart.cur'), auto;
    transition-duration: 0.4s;
}

#homebutton:hover, #schoolbutton:hover, #coronaparkbutton:hover, #fhhsbutton:hover, #qcbutton:hover, #meadowlakebutton:hover, #fhbutton:hover, #presentbutton:hover {
    background-color: #77027e; 
    color: #e3f0f2;
}

#homebutton:active, #schoolbutton:active, #coronaparkbutton:active, #fhhsbutton:active, #qcbutton:active, #meadowlakebutton:active, #fhbutton:active, #presentbutton:active {
    background-color: #77027e;
    box-shadow: 0 5px #77027e;
    transform: translateY(10px);
  }