.header {
	padding-left: 100px;
	padding-right: 100px;
	padding-top: 50px;
	padding-bottom: 50px;
}

h1 {
	font-family: 'Rock Salt', cursive;
}

h2 {
	font-family: 'Nanum Pen Script', cursive;
}

p {
	font-family: 'Homemade Apple', cursive;
}

/* Add a background color to the top navigation */
.topnav {
	background-color: lavender;
	overflow: hidden;
}
  
/* Style the links inside the navigation bar */
.topnav a {
	float: left;
	color: purple;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
    font-family: 'Anonymous Pro', monospace;
}
  
/* Change the color of links on hover */
.topnav a:hover {
	background-color: lavenderblush;
	color: palevioletred;
}

/* Add a color to the active/current link */
.topnav a:active {
	background-color: palegoldenrod;
	color: olive;
}