body {
    border: 15px solid green;
    margin: 0;
    padding: 0;
}

.header {
    border: 15px solid blue;
    display: flex;
    justify-content: center;
    margin: 10px;
    padding: 20px;
}

.map-container {
    border: 15px solid pink;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 10px;
    padding: 20px;
}

#map {
    height: 600px;
    width: 1200px;
}

.marker {
    background-image: url('./heart.svg');
    background-size: cover;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
}

.mapboxgl-popup {
    max-width: 200px;
}

.mapboxgl-popup-content {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}